body {
    width: 1020px;
    margin: 0 auto;
}

.wrapper {    
    width: 940px;
    margin: 0 auto;
}

h1 {
    font-size: 25px;    
    color: #ffffff;
    font-family: "Lato", "Verdana",sans-serif;
    font-weight: 700;
    margin: 0;
}

h2 {
    font-size: 30px;
    font-family: "Lato", "Verdana", sans-serif;
    line-height: 18px;
    font-weight: 900;
    color: #666d89;
    text-align: left;
}

h3 {
    font-size: 18px;
    color: #666d89;
    font-family: "Lato", "Verdana", sans-serif;
    font-weight: 900;   
}

.description {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato", "Verdana", sans-serif;
    font-weight: 300;
    text-align: left;
    margin: 0;
}

/*header block*/

header {
    background-color: #2d303a;
}

.header-wrapper {
    padding: 29px 0 29px 0px;
}

.header__bottom {
    height: 6px;
    background-color: #323746;
}

.header__content {
    display: flex;
    justify-content: space-between;
}

.logo span, #menu__home {
    color: #f06c64;
}

nav {
    width: 369px;
    padding: 11px 0px 0 0px
}

ul:first-child {
    margin-left: -3px;
}

#menu__servises {
    margin: 1px 0px 0px 1px;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;    
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    padding-left: 2px;
    cursor: pointer;
} 

.menu a:hover {
    color: red;
}

header li + li:before {
    content: ".";
    width: 30px;
    color: #494e62;
    bottom: 5px;
    padding-right: 7px;
}

/*slider block*/

.slider {
    background-color: #f06c64;
}

.slider__bottom {
    background-color: #ea676b;
    height:5px;
}

.slider__content {
    display: flex;
    justify-content: space-between;
    margin-left: 2px;
    margin-right: -1px;
}

.slider__left-arrow {
    height: 27px;
    width: 16px;
    padding-top: 281px;    
    cursor: pointer;
}

.slider__right-arrow {
    height: 27px;
    width: 16px;
    padding-top: 281px;
    cursor: pointer;
}

.slider__vertical-phone {
    margin: -16px -392px 31px 0px;
}

.slider__horizontal-phone {
    margin: 69px -29px -56px 4px;
}

/*services block*/

.services {
    background-color: #f2f2f2;
}

.services-wrapper {
    padding: 44px 0 51px 0px
}

.services__header {
    margin: 24px 0 29px 0;
}

.services__description {
    font-size: 17px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato", "Verdana", sans-serif;
    font-weight: 300;
    margin: 0 0 0 2px;
    padding: 0 0 22px 0px;
    width: 952px;
    word-spacing: 2.8px;
}

.services__grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.services__item {
    display: flex;
    justify-content: space-between;
}

.services__item_icon {
    min-width: 60px;
    height: 60px;
}

.services__item_icon1 {
    background: url(assets/images/pen.png);
    margin: 23px 0 0 0px;
}

.services__item_icon2 {
    background: url(assets/images/lightbulb.png);
    margin: 23px 0px 0px 7px;
}

.services__item_icon3 {
    background: url(assets/images/heart.png);
    margin: 23px 0 0 14px;
}

.services__item_icon4 {
    background: url(assets/images/phone.png);
    margin: 22px 0 0 1px;
}

.services__item_icon5 {
    background: url(assets/images/bubble.png);
    margin: 22px 0 0 7px;
}

.services__item_icon6 {
    background: url(assets/images/Star.png);
    margin: 22px 0 0 14px;
}

.services__item_text {
    margin: 1px 0 0 20px;
}

.services__header-h3 {
    padding: 1px 0px 0px 1px;
}

.services__item_text > p {
    font-size: 12px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    margin: -11px 0px 12px 0px;
    line-height: 21px;
    word-spacing: 1.5px;
}

.services__bottom {
    height: 6px;
    background-color: #ffffff;
}

/* portfolio block*/

.portfolio__wrapper {
    padding: 43px 2px 0 4px;
}

.portfolio {
    background-color: #2d303a;
}

.portfolio__description {
    padding-top: 2px;
}

.portfolio__tags {
    padding-top: 12px;
}

.portfolio__first-span {
    padding-right: 2px;
}

.portfolio__second-span, .portfolio__fourth-span {
    padding-left: 1px;
}
.tag {
    text-decoration: none;
    font-size: 12px;
    color: #767e9e;
    font-family: "Lato", "Verdana", sans-serif;
    font-weight: 400;
    text-align: left;
    margin-left: 1px;
    margin-right: 9px;
    padding: 3px 3px 2px 6px;
    cursor: pointer;
}

.tag:hover {
    font-size: 14px;
}

.tag--selected {
    border-radius: 5px;
    color: #dedede;
    border: 1px solid #c5c5c5;
}

.tag--bordered {
    border-radius: 5px;
    border: 1px solid #666d89;
}

.layout-4-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio__img {
    height: 600px;    
    padding: 18px 0 66px 0;
    overflow: hidden;
}

.portfolio__img img {
    width: 220px;
    height: 187px;
    padding-bottom: 20px;
}

.portfolio__bottom {
    height: 7px;
    background-color: #323746;
}

.employee__name {
    margin: 0;
}

/* about-us block*/

.about-us {
    background-color: #f2f2f2;
}

.about-us__wrapper {
    padding-top: 43px;
    padding-bottom: 42px;
}

.about-us__description {
    padding-bottom: 45px;
    padding-top: 2px;
}

.layout-3-column {
    display: flex;
    justify-content: space-between;
}

.employee {
    text-align: left;
}

.employee>img {
    width: 300px;
    height: 300px;
    padding-right: 20px;
    padding-bottom: 11px;
}

.employee__about {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    padding-top: 8px;
    margin: 0;
    width: 300px;
}

.about-us__contacts {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 155px;
    padding: 5px 0 0 0px;
}

.about-us__contacts li {
    list-style-type: none;
}

.about-us__contacts img {
    width: 34px;
    height: 35px;
    cursor: pointer;
}

.about-us__bottom {
    height: 6px;
    background-color: #ffffff;
}

.get-a-quote {
    background-color: #f06c64;
}

/* get-a-quote block*/

.get-a-quote__wrapper {
    padding-top: 43px;
}

.get-a-quote h2 {    
    color: #f0d8d9;    
    margin: 25px 0 26px 0;
}

.get-a-quote h3 {    
    color: #f0d8d9;
    margin: 0 0 0 2px;
}

.get-a-quote-description {
    color: #f0d8d9;
    margin: 0 0 0 2px;
}

.layout-2-column {
    display: flex;
    justify-content: space-between;
}

form {
    padding-top: 44px;
    width: 615px;
}

input {
    width: 604px;
    height: 37px;
    border-radius: 5px;
    background-color: #d6564f;
    margin-bottom: 16px;
    border: none;
    padding: 1px 0 0 15px;
}

::placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato", "Verdana", sans-serif;
    font-weight: 400;
    text-align: left;
}

textarea {
    width: 607px;
    height: 195px;
    border-radius: 5px;
    background-color: #d6564f;
    padding: 7px 0 0 13px;
    border: none;
}

.get-a-quote__contact {
    padding: 42px 0 0 24px
}

.get-a-quote__contact p, a {
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato", "Verdana", sans-serif;
    font-weight: 400;
    text-align: left;
    margin: 0;
    text-decoration: none;
}

.get-a-quote__contact>p {
    padding-top: 8px;
    width: 309px;
    margin-left: 2px;
}

.get-a-quote__contact a {
    cursor: pointer;
}

.get-a-quote__grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 12fr;
    padding-top: 19px;
    padding-left: 1px;
}

.icon_location {
    padding: 7px 0 0 4px;
}

.icon_phone {
    padding: 6px 0 0 2px;
}

.icon_letter {
    padding: 9px 0 0 1px;
}

.get-a-quote__bottom {
    height: 6px;
    background-color: #ea676b;
    margin-top: 63px;
}

/*footer block*/

footer {
    background-color: #2d303a;
}

.layout-4-column {
    display: flex;
    justify-content: space-between;
}

.footer__contacts {
    list-style-type: none;
    padding: 5px 0px 0 1px;
    width: 152px;
    margin-bottom: 13px;
}

.footer__copyright {
    width: 182px;
    height: 11px;
    padding: 33px 0 0 3px;
}