body {
    width: 1020px;
    margin: 0 auto;
}

.wrapper {
    width: 940px;
    margin: 0 auto;;
}

.portfolio__wrapper {
    padding-top: 62px;
}

.portfolio {
    background-color: #2d303a;
}

h2 {
    font-size: 30px;
    font-family: "Lato", "Verdana", sans-serif;
    line-height: 18px;
    font-weight: 900;
    color: #666d89;
    text-align: left;
}

.description {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato", "Verdana", sans-serif;
    font-weight: 300;
    text-align: left;
}

.portfolio__tags {
    padding-top: 18px;
   
}

.tag {
    text-decoration: none;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato", "Verdana", sans-serif;
    font-weight: 400;
    text-align: left;
    margin-right: 9px;
    padding: 6px 5px;
    cursor: pointer;
}

.tag:hover {
    font-size: 14px;
}

.tag--selected {
    border-radius: 5px;
    color: #dedede;
    border: 1px solid #c5c5c5;
}

.tag--bordered {
    border-radius: 5px;
    border: 1px solid #666d89;
}

.portfolio__img {
    height: 601px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 19px 0 66px 0;
    overflow: hidden;
}

img {
    width: 220px;
    height: 187px;
    display: block;
    line-height: 1px
}

.portfolio__bottom {
    height: 6px;
    background-color: #323746;
}

.about-us__description {

}